<div class="flex justify-center items-center h-screen bg-gray-100">
  <div class="bg-white shadow-md rounded-lg p-8 max-w-4xl w-full">
  
    <!-- Título -->
    <h1 class="text-2xl font-bold mb-4 text-center text-blue-600">Lista de tareas</h1>
  
    <!-- Filtro de tareas -->
    <div class="mb-6">
      <label class="block text-gray-700 font-bold mb-2">Filtrar por estado:</label>
      <select [(ngModel)]="selectedFilter" class="w-full p-2 border border-gray-300 rounded">
        <option value="all">Todas</option>
        <option value="completada">Completadas</option>
        <option value="pendiente">Pendientes</option>
      </select>
    </div>
  
    <!-- Listado de tareas -->
    <div *ngFor="let tarea of filteredTareas; let i = index" class="mb-4 border border-gray-300 rounded-lg p-4">
      <!-- Número, Nombre de la tarea y Estado -->
      <div class="flex justify-between items-center mb-2">
        <div class="font-bold text-lg">Tarea {{ i + 1 }}: {{ tarea.title }}</div>
        <div class="text-gray-900">Fecha máxima<h3 class="text-gray-400 justify-center">{{ tarea.fechaFin }}</h3></div>
      </div>
      <div class="text-gray-900">Estado: <span [ngClass]="{'text-green-500': tarea.estado === 'completada', 'text-red-500': tarea.estado === 'pendiente'}">{{ tarea.estado }}</span></div>
  
      <!-- Subtítulo: Personas asociadas -->
      <h2 class="font-semibold text-blue-600 mb-2">Personas asociadas:</h2>
  
      <!-- Información de las personas -->
      <ul class="list-none list-inside">
        <li *ngFor="let persona of tarea.personas" class="shadow rounded px-4">
          <h4 class="gap-x-2">Nombre: {{ persona.fullName }}</h4> 
          <h4>Edad: {{ persona.age }}</h4> 
          <h4>Habilidades: {{ persona.skills.join(', ') }}</h4>
        </li>
      </ul>

      <!-- Botón para cambiar estado -->
      <button (click)="toggleTaskStatus(tarea)" class="mt-4 text-white px-4 py-2 rounded-md" [ngClass]="{' bg-red-500': tarea.estado === 'completada','bg-blue-500': tarea.estado === 'pendiente'}">
        {{ tarea.estado === 'pendiente' ? 'Marcar como Completada' : 'Marcar como Pendiente' }}
      </button>
    </div>
  
    <!-- Mensaje si no hay tareas que coincidan con el filtro -->
    <div *ngIf="filteredTareas.length === 0" class="text-center text-gray-500">
      No hay tareas que coincidan con el filtro seleccionado.
    </div>
  </div>
</div>
